
   <div class="container">
     
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light" [@heroState]= "state"
    (mouseenter)="onMouseOver()" 
    (mouseleave)="onMouseleave()">
      <a class="navbar-brand" routerLink="/list" >WhetherApp</a>
      <button class="navbar-toggler" type="button" 
      data-toggle="collapse" data-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLink ="/auto" routerLinkOption="active">Today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink ="/daily" routerLinkOption="active">Hourly</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkOption="active">5 Days</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink ="/list" routerLinkOption="active">8 Days</a>
          </li>
          
        </ul>
      </div>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="SearchHere" aria-label="Search" #cityname>
          <button class="btn btn-outline-primary my-2 my-sm-0" (click)="onSearch(cityname.value)">Search</button>
        </form>
      </nav>
    </nav>
     <router-outlet></router-outlet>
    
       
      
          
           
  
</div>

  

    
    


