.main
{
    width:256px;
    height:400px;
    margin:50px 0 0 0;
    background-color: #f8f9fa;;
    color: #828283;
    box-shadow: 10px 10px 5px #b5a8a840;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    text-align: center; 
 padding-top:30px;
}
p{
    font-size:20px;
display: inline-block;
}
.uvIndex1
{
    float:left;
   
    margin-left: 10px;
    font-size: 20px;

}
.uvIndex2
{
  float:right;
 
  margin-right: 20px;
  font-size: 20px;
}
.speed1
{
    float:left;
    
   margin-top: 50px;
    margin-left: -73px;
    font-size: 20px;

}
.speed2
{
  float:right;

  margin-top: 50px;
  margin-right: -23px;
  font-size: 20px;
}
.visibility1
{
    float:left;
    margin-top: 105px;
    margin-left: -73px;
    font-size: 20px;

}
.visibility2
{
  float:right;
 margin-top: 105px;
  margin-right: -23px;
  font-size: 20px;
}
